@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* ======= Your styling goes below ======= */

.container {  
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block; 
  text-decoration: none; 
}


ul { list-style-type: none; }
img { width: 100%; }

.wrapper {
  max-width: 941px;
  width: 73.17%;
  margin: 0 auto;
}

/* ********style for header starts here******** */

header { 
  width: 100%;
  position: fixed; 
  background-color: rgba(0,0,0,.1);
}

header .wrapper {
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.tag-line { margin-top: 18px; }

h1 {
  width: 34%;
  display: inline-block;
}

h1 a { 
  width: 100%;
  text-indent: -9999px;
}

h1 a img { float: left; }

.tag-line span {
  margin-bottom: 2px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
  color: rgba(255,255,255,.6);
  font-size: 12px;

} 

.tag-line span:before {
  content: "";
  width: 1px;
  height: 15px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255,255,255,.6);
}

nav {  
  display: flex;
  justify-content: space-between;
  flex-basis: 30.5%;
}

.hamburger {
  width: 20px;
  height: 22px;
  display: inline-block;
  display: none;
  position: relative;
}

.hamburger span {
  width: 100%;
  height: 3px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  text-indent: -9999px;
}


.first-ham { top: 0; }
.second-ham { top: 9px; }
.third-ham { bottom: 0; }

nav ul {
  display: flex; 
  flex-basis: 100%; 
  justify-content: space-between;
}

nav ul li:nth-child(1) a { border-top: 2px solid #45a7e3; }

nav ul li a { 
  padding-top: 25px;
  border-top: 2px solid transparent;
  color: #fff;
  font-size: 13px; 
  text-transform: capitalize;
}

nav ul  a:hover {
  border-top: 2px solid #45a7e3;
  transition: .6s;
} 

/* ****style for header ends here****** */

/* ******common style for banner and works .wrapper starts here**** */
.banner .wrapper,
.work .wrapper {
  max-width: 1286px;  
  width: 100%;
  margin: 0 auto;

}

/* *****style for banner ends here****** */

/* ********common style for h3****** */
.title {
  color: #3ab494;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.title:after {
  content: url('../images/seperator.png');
  margin-top: 9px;
  display: block;
  text-align: center;
}


/* *******style for features starts here******* */


.feature { background-color: #f5f6fa; }
.feature .wrapper { padding: 4.7% 0; }

.feature-list { margin-top: 48px; }

.feature-list li figure {
  width: 10%;
  vertical-align: top;
  float: left;
}

.feature-list li .details { margin-left: 15%; }

.feature-list li h4 {
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
}

.feature-list li p {
  margin-top: 18px; 
  color: #000;
  color: rgba(0, 0, 0, .6); 
  font-size: 12px;
  line-height: 20px;
}

.slick-dots {
  margin-top: 50px; 
  position: static; 
}

.slick-prev, .slick-next {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  top: 32%;
  background: transparent;
  color: #000;
  font-size: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  line-height: 0;
}


.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: transparent;
  color: #000;
  outline: none;
}

.slick-prev { left: -40px; }
.slick-next { right: -40px; }
.slick-prev:before { content: '\f104'; }
.slick-next:before { content: '\f105'; }

.slick-prev:before, 
.slick-next:before {
  color: #000;
  font-family: 'Font Awesome 5 Free';
  font-size: 35px;
  font-weight: 900;
}

/* ****style for features ends here******** */

/* ****** style for work starts here****** */

.work .wrapper { padding: 6% 0; }

.work .wrapper > p {
  width: 58.3%;
  margin: 0 auto;
  margin-top: 21px;
  color: rgba(0,0,0,.7);
  font-size: 15px;
  font-weight: 900;
  text-align: center;
}

.filter-tabs {
  margin-top: 37px;
  display: flex;
  justify-content: center;
}

.filter-tabs li { margin-right: 2%; }

.filter-tabs li span {
  padding: 10px; 
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize; 
  cursor: pointer;
  
}

.filter-container {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
}

.filter-container >  div {
  display: none;
  position: relative;
  cursor: pointer; 
  flex-basis: 25%;
}

.filter-container .overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3ab494;
  opacity: 0;
}

.filter-container .overlay-container figure { 
  width: 18%; 
  margin: 0 auto;
}

.filter-container .overlay-container .overlay {
  width: 65%;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-container .overlay-container .overlay span {
  display: block;
  color: #fff;
  text-align: center;
}


.filter-container .overlay-container .overlay span:first-of-type {
  margin-top: 18px;
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
}

.filter-container .overlay-container .overlay span:last-of-type {
  margin-top: 8px;
  display: block;
  font-size: 12px;
  text-transform: capitalize;
}

.filter-container > div:hover .overlay-container { 
  transition: .6s; 
  opacity: .9;
}


.filter-tabs li.design {
  border-radius: 5px;
  background-color: #3ab494;  
  color: #fff;
}

.filter-container > div.active { display: block; }

/************ style for filter ends here **************/

/* *************style for team section starts here********** */

.team .wrapper > p {
  width: 79.3%;
  margin: 0 auto;
  margin-top: 21px;
  color: rgba(0,0,0,.7);
  font-size: 15px;
  font-weight: 900;
  text-align: center;

}

.team-slider { margin-top: 87px; }

.team-list li { 
  position: relative; }


.team-list li .overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3ab494;
  opacity: 0;
  z-index: 2;
}

/* ************ style for team secion ends here ****************** */